# --- GLOBAL ---
.DS_Store
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- EDITOR ---
.idea
.vscode
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# --- DEPENDENCIES (All projects) ---
node_modules
.pnp
.pnp.js

# --- TESTING ---
coverage
frontend/test-results
frontend/test-results/**
**/supabase_status.json

# --- BUILD OUTPUTS ---
dist
build
dist-ssr

# --- FRONTEND SPECIFIC ---
frontend/logs
frontend/*.local

# --- SUPABASE SPECIFIC ---
supabase/.branches
supabase/.temp
supabase/.env.keys
supabase/.env*
